<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Curs</title>
    <link rel="stylesheet" href="../../css/Product/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navegació -->
    <header>
        <nav class="header">
            <h1 class="header__títol">SoftLearning</h1>
        </nav>
    </header>

    <!-- Formulari -->
    <main>
        <div class="ubi">
            <a class="ubi__text" href="../../index.html">Inici</a>
            <img class="ubi__img" src="../../img/Formularis/fletxa.png" alt="fletxa">
            <a class="ubi__text" href="courseguia.html">Curs Guia</a>
            <img class="ubi__img" src="../../img/Formularis/fletxa.png" alt="fletxa">
            <a class="ubi__text--ubi" href="seleccionarcourse.html">Seleccionar Curs</a>
        </div>
        <article>
            <h4 class="títol">SELECCIONAR CURS</h4>
            <div class="general">
                <div class="subgeneral">
                    <form class="formulari" action="../../controllers/course/getCourseByCodeController.php" method="POST">    
                        <label class="formulari__text">Troba el curs:</label>                    
                        <input class="formulari__omplir" type="number" name="codi" placeholder="introdueix el número del curs">
                        <div class="bt">
                            <input class="bt__bt" type="submit" value="SELECCIONAR">
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </main>
    <!-- Footer -->
    <footer class="footer" id="baix">
        <p class="footer__text">Copyright © 2024 SoftLearning</p>
    </footer>
</body>
</html>